@model proj.Models.Birthday
@{
    ViewData["Title"] = "Birthdays";
}

<form>
    <input type="text" asp-for="Name">
    <input type="number" asp-for="Year">

    <button class="btn-primary">Zapisz</button>
</form>

@ViewBag.WelcomeText